
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
/debug/
/logs/
/allure-results/
/allure-report/
/tests-examples/
example.*
*.log
tests/test-*.spec.ts
/copy.*
/test-*
